{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block title %}
Shopping Bag
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4 fs-1 fw-bold">Shopping Bag</h1>
            <hr class="mx-auto w-25">
        </div>
    </div>
    <div class="row">
        {% if bag_items %}
        <div class="table-responsive">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col" class="fs-5">Product Info</th>
                        <th scope="col" class="fs-5">Name</th>
                        <th scope="col" class="fs-5">Price</th>
                        <th scope="col" class="fs-5">Quantity</th>
                        <th scope="col" class="fs-5">Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in bag_items %}
                    <tr>
                        <td class="w-25">
                            <a href="{% url 'product_detail' item.product.id %}">
                                <img class="img-fluid rounded w-75 shadow" src="{{ MEDIA_URL }}{{ item.product.image }}" alt="">
                            </a>
                        </td>
                        <td class="p-3">
                            <p class="text-black mb-1 fs-5"><strong>{{ item.product.name }}</strong></p>
                            <p class="text-muted">({{ item.product.weight }}g)</p>
                        </td>
                        <td>
                            {% if item.product.sale_price %}
                                <h2 class="mb-0 text-muted text-decoration-line-through d-inline fs-5">£{{ item.product.price }}</h2>
                                <h2 class="text-danger mb-0 fw-bold fs-5">£{{ item.product.sale_price }}</h2>
                            {% else %}
                                <h2 class="fw-bold fs-5">£{{ item.product.price }}</h2>
                            {% endif %}
                        </td>
                        <td>
                            <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group input-group-{{ item.item_id }}">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-sm btn-black decrement-qty_{{ item.item_id }} border border-0" 
                                                data-item_id="{{ item.item_id }}" aria-label="Decrement quantity">
                                                <span>
                                                    <i class="fa-solid fa-minus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control form-control-sm qty_input id_qty_{{ item.item_id }} rounded" type="number"
                                            name="quantity" value="{{ item.quantity }}" min="1" max="{{ item.product.stock_remaining }}"
                                            data-item_id="{{ item.item_id }}" aria-label="Quantity">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-sm btn-black increment-qty_{{ item.item_id }} border border-0"
                                                data-item_id="{{ item.item_id }}" aria-label="Increment quantity">
                                                <span>
                                                    <i class="fa-solid fa-plus fa-sm"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <a class="update-link text-success"><small>Update</small></a>
                            <a class="remove-item text-danger float-end" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                        </td>
                        <td>
                            {% if item.product.sale_price %}
                                <h3 class="fw-bold fs-5">£{{ item.product.sale_price | calculate_subtotal:item.quantity }}</h3>
                            {% else %}
                                <h3 class="fw-bold fs-5">£{{ item.product.price | calculate_subtotal:item.quantity }}</h3>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="text-end">
                            <p class="fs-5 mb-0">Bag total: <strong>£{{ total|floatformat:2 }}</strong></p>
                            <p class="fs-5 mb-0">Delivery: <strong>{% if delivery == 0 %}FREE{% else %}£{{ delivery|floatformat:2 }}{% endif %}</strong></p>
                            <h4>Total Price: <strong>£{{ grand_total|floatformat:2 }}</strong></h4>
                            {% if free_delivery_delta > 0 %}
                                <p>You could get free delivery by spending <strong>£{{ free_delivery_delta }}</strong> more!</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-end">
                            <a href="{% url 'products' %}" class="btn btn-outline-dark my-3 mx-2">
                                <span class="icon me-2 fw-bold"><i class="fa-solid fa-chevron-left fa-xl"></i></span>
                                <span>Keep Shopping</span>
                            </a>
                            <a href="{% url 'checkout' %}" class="btn btn-dark my-3 mx-2">
                                <span class="icon me-2 fw-bold"><i class="fa-solid fa-lock"></i></span>
                                <span>Secure Checkout</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>  
        </div>
        {% else %}
        <p class="mb-3 mt-5 fw-bold text-center fs-2">Oops!<br>Looks like your bag is empty...</p>
        <a href="{% url 'products' %}" class="btn btn-outline-dark w-25 mx-auto">
            <span class="icon me-2 fw-bold"><i class="fa-solid fa-chevron-left fa-xl"></i></span>
            <span>Continue Shopping</span>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'includes/quantity_input_script.html' %}
<script>
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    });

    // Remove item and reload on click 
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken,};

        $.post(url, data)
         .done(function() {
            location.reload();
         });
    });
</script>
{% endblock %}