{% extends "base.html" %}
{% load static %}

{% block extra_js %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2yPNEdhnFwkQevJUkQWDJE9I9uX6B_L4&callback=initMap&libraries=&v=weekly" defer></script>
<script>
    "use strict";

    function initMap() {
        const myLatLng = {
            lat: 51.48480987548828,
            lng: -2.4910223484039307
        };
        const map = new google.maps.Map(document.getElementById("gmp-map"), {
            zoom: 14,
            center: myLatLng,
            fullscreenControl: false,
            zoomControl: true,
            streetViewControl: false
        });
        new google.maps.Marker({
            position: myLatLng,
            map,
            title: "My location"
        });
    }
</script>
{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="row w-100 m-0">
    <div class="home-image">
        <div class="row">
            <div class="col-xl-4 col-md-5 col-sm-8 col-sm-10 col-11 offset-md-2 offset-sm-1 landing-text mt-5">
                <p class="col-12 mt-5 fs-lg-1 fs-2">
                    <strong class="text-center">Free delivery on orders over £{{ free_delivery_threshold }}!</strong>
                    <br>
                    Indulge in a little self-care with our luxurious bath bombs and wax melts
                </p>
                <a href="{% url 'products' %}" class="btn btn-dark btn-lg col-4 offset-1 mt-2 home-button">Shop Now!</a>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="row bg-white w-100 m-0 border-top-and-bottom our-products">
        <div class="col-12 text-center">
            <h2 class="mt-3">Our Products</h2>
            <hr class="mx-auto mt-0">
            <p>With our wide range of products,<br>we guarantee we have a scent for everyone!</p>
            <div class="row justify-content-center mb-3">
                <div class="col-6 col-lg-4 mb-3 product-home-div">
                    <a href="{% url 'products' %}?product_categories=bath_bomb"
                        class="text-center text-decoration-none">
                        <img class="product-home-image rounded card-shadow" src="{{ MEDIA_URL }}bath-bomb.jpg" alt="">
                        <div class="product-overlay mx-auto rounded">
                            <hr class="mx-auto">
                            <p class="text-white fs-1 bold-underline-hover">Bath Bombs</p>
                            <hr class="mx-auto">
                        </div>
                    </a>
                </div>
                <div class="col-6 col-lg-4 mb-3 product-home-div">
                    <a href="{% url 'products' %}?product_categories=wax_melt" class="text-center text-decoration-none">
                        <img class="product-home-image rounded card-shadow" src="{{ MEDIA_URL }}wax-melt.jpg" alt="">
                        <div class="product-overlay mx-auto rounded">
                            <hr class="mx-auto">
                            <p class="text-white fs-1 bold-underline-hover">Wax Melts</p>
                            <hr class="mx-auto">
                        </div>
                    </a>
                </div>
                <div class="col-6 col-lg-4 mb-3 product-home-div">
                    <a href="{% url 'products' %}?product_categories=soap_sponge"
                        class="text-center text-decoration-none">
                        <img class="product-home-image rounded card-shadow" src="{{ MEDIA_URL }}soap-sponge.jpg" alt="">
                        <div class="product-overlay mx-auto rounded">
                            <hr class="mx-auto">
                            <p class="text-white fs-1 bold-underline-hover">Soap Sponges</p>
                            <hr class="mx-auto">
                        </div>
                    </a>
                </div>
                <div class="col-6 col-lg-4 mb-3 product-home-div">
                    <a href="{% url 'products' %}?product_categories=candle" class="text-center text-decoration-none">
                        <img class="product-home-image rounded card-shadow" src="{{ MEDIA_URL }}candle.jpg" alt="">
                        <div class="product-overlay mx-auto rounded">
                            <hr class="mx-auto">
                            <p class="text-white fs-1 bold-underline-hover">Candles</p>
                            <hr class="mx-auto">
                        </div>
                    </a>
                </div>
                <div class="col-6 col-lg-4 mb-3 product-home-div">
                    <a href="{% url 'products' %}?product_categories=car_freshner"
                        class="text-center text-decoration-none">
                        <img class="product-home-image rounded card-shadow" src="{{ MEDIA_URL }}car-freshner.jpg"
                            alt="">
                        <div class="product-overlay mx-auto rounded">
                            <hr class="mx-auto">
                            <p class="text-white fs-1 bold-underline-hover">Car Freshners</p>
                            <hr class="mx-auto">
                        </div>
                    </a>
                </div>
                <div class="col-6 col-lg-4 mb-5 product-home-div">
                    <a href="{% url 'products' %}?product_categories=wax_burner"
                        class="text-center text-decoration-none">
                        <img class="product-home-image rounded card-shadow" src="{{ MEDIA_URL }}wax-burner.jpg" alt="">
                        <div class="product-overlay mx-auto rounded">
                            <hr class="mx-auto">
                            <p class="text-white fs-1 bold-underline-hover">Wax Burners</p>
                            <hr class="mx-auto">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row w-100 m-0">
        <div class="featured-products-image pb-3">
            <div class="row mw-100 mx-auto">
                <div class="col-10 offset-1 w-80 mt-3 bg-white home-products-container">
                    <div class="container">
                        <div class="row justify-content-evenly">
                            <div class="col-12 mt-4 mb-2">
                                <h3 class="text-center fw-bold">Featured Products</h3>
                            </div>
                            <div class="col-9 overflow-x-scroll d-flex">
                                {% for f in featured_products %}
                                {% if f.is_hidden == False %}
                                <div class="row featured-products-container">
                                    <div class="col">
                                        <div class="row">
                                            <a href="{% url 'product_detail' f.id %}">
                                                <img src="{{ MEDIA_URL }}{{ f.image }}"
                                                    class="featured-image rounded card-shadow" alt="{{ f.image }}">
                                            </a>
                                        </div>
                                        <div class="row w-100 m-0">
                                            <div class="col-9 p-0">
                                                <a class="text-decoration-none" href="{% url 'product_detail' f.id %}">
                                                    <p class="text-black mb-0 bold-underline-hover text-wrap">
                                                        {{ f.name }}</p>
                                                </a>
                                            </div>
                                            <div class="col-3 p-0">
                                                <p class="fw-bold mb-0 text-end">£{{ f.price }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row justify-content-evenly">
                            <div class="col-12 mt-4 mb-2">
                                <h3 class="text-center fw-bold">Latest Products</h3>
                            </div>
                            <div class="col-9 overflow-x-scroll d-flex pb-3">
                                {% for l in latest_products %}
                                {% if l.is_hidden == False %}
                                <div class="row latest-products-container">
                                    <div class="col">
                                        <div class="row">
                                            <a href="{% url 'product_detail' l.id %}">
                                                <img src="{{ MEDIA_URL }}{{ l.image }}"
                                                    class="latest-image rounded card-shadow" alt="{{ l.image }}">
                                            </a>
                                        </div>
                                        <div class="row w-100 m-0">
                                            <div class="col-9 p-0">
                                                <a class="text-decoration-none" href="{% url 'product_detail' l.id %}">
                                                    <p class="text-black mb-0 text-wrap bold-underline-hover text-wrap">
                                                        {{ l.name }}</p>
                                                </a>
                                            </div>
                                            <div class="col-3 p-0">
                                                <p class="fw-bold mb-0 text-end">£{{ l.price }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row bg-white w-100 m-0 border-top-and-bottom our-values">
        <div class="col-12 text-center">
            <h2 class="mt-3">Our Values</h2>
            <hr class="mx-auto mt-0">
            <div class="row justify-content-evenly mt-5 mb-3">
                <div class="col-md-4 col-lg-3 col-10">
                    <span class="icon"><i class="fa-solid fa-leaf fa-xl"></i></span>
                    <h4 class="fw-bold my-2">Nature-Lover</h4>
                    <p>We believe in the power of nature to heal and rejuvenate. That's why we use only the finest
                        natural ingredients in our bath bombs and wax melts. We also believe in being environmentally
                        conscious, so our products are always cruelty-free and vegan.</p>
                </div>
                <div class="col-md-4 col-lg-3 col-10">
                    <span class="icon"><i class="fa-regular fa-handshake fa-xl"></i></span>
                    <h4 class="fw-bold my-2">Hard Work Pays Off</h4>
                    <p>We're a small business, but we work hard to make sure our products are the best they can be.
                        We're always innovating and looking for new ways to improve our products. We believe that hard
                        work and dedication always pay off.</p>
                </div>
                <div class="col-md-4 col-lg-3 col-10">
                    <span class="icon"><i class="fa-regular fa-heart fa-xl"></i></span>
                    <h4 class="fw-bold my-2">Customer First</h4>
                    <p>We put the customer first in everything we do. We want to make sure that you're happy with your
                        purchase, and we're always here to answer your questions. We believe that customer satisfaction
                        is the most important thing.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row w-100 m-0">
        <div class="testimonial-image">
            <div class="row justify-content-center">
                <div class="col-11 col-md-8 my-5 bg-white testimonials-container">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <h4 class="text-center mt-3">Don't just take our word for it...</h4>
                            <hr class="mx-auto mt-0">
                        </div>
                        <div class="col-12">
                            {% include 'includes/testimonials.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row bg-white w-100 m-0 location-container">
        <div class="col-12 text-center">
            <h2 class="mt-3">Why not pop into our shop?</h2>
            <hr class="mx-auto mt-0">
            <div class="row mb-5">
                <div class="col-12 col-md-5 col-lg-3 offset-md-1">
                    <div class="row justify-content-center">
                        <div class="col-12 col-sm-5 col-md-12">
                            <h4 class="mt-4 fs-2">Address</h4>
                            <div class="text-start mt-3 ms-5 lh-1 home-address">
                                <p class="mb-2">38 Long Road</p>
                                <p class="mb-2">Mangotsfield</p>
                                <p class="mb-2">Bristol</p>
                                <p class="mb-2">BS16 9HQ</p>
                            </div>
                        </div>
                        <div class="col-12 col-sm-5 col-md-12">
                            <h4 class="mt-4 fs-2">Opening Hours</h4>
                            <div class="text-start ms-5">
                                <p>
                                    <strong>Monday:</strong> 10am - 4pm <br>
                                    <strong>Tuesday:</strong> Closed <br>
                                    <strong>Wednesday:</strong> 10am - 4pm <br>
                                    <strong>Thursday:</strong> Closed <br>
                                    <strong>Friday:</strong> 10am - 4pm <br>
                                    <strong>Saturday:</strong> 10am - 4pm <br>
                                    <strong>Sunday:</strong> Closed
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 col-lg-7 mb-3 order-first order-md-last">
                    <h4 class="mt-4 mb-3 fs-2">Find us on Google Maps</h4>
                    <!-- <div id="map"></div> -->
                    <div id="gmp-map"></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
<!-- <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBdiozrqw27M2ctumeeoo7fFpx33OSzCE&callback=initMap&v=weekly"
    defer></script>

<script>
    function initMap() {
        const myLatLng = {
            lat: 51.48499496067841,
            lng: -2.4910626311418307
        };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 15,
            center: myLatLng,
        });

        new google.maps.Marker({
            position: myLatLng,
            map,
            title: "FizzyBeese",
        });
    }

    window.initMap = initMap;

    let map;

async function initMap() {
  const { Map } = await google.maps.importLibrary("maps");

  map = new Map(document.getElementById("map"), {
    center: { lat: 51.48499496067841, lng: -2.4910626311418307 },
    zoom: 15,
  });
}

initMap();
</script> -->


<!-- <script>
    "use strict";

    function initMap() {
        const myLatLng = {
            lat: 51.48480987548828,
            lng: -2.4910223484039307
        };
        const map = new google.maps.Map(document.getElementById("gmp-map"), {
            zoom: 14,
            center: myLatLng,
            fullscreenControl: false,
            zoomControl: true,
            streetViewControl: false
        });
        new google.maps.Marker({
            position: myLatLng,
            map,
            title: "My location"
        });
    }
</script> -->
{% endblock %}