{% extends "base.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="home-image">
            <div class="row">
                <div class="col-4 offset-2 landing-text">
                    <h3 class="col-12">Indulge in a little self-care with our luxurious bath bombs and wax melts</h3>
                    <a href="#" class="btn btn-dark btn-lg col-4 offset-1 home-button">Shop Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}