{% extends "base.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <div class="row w-100 m-0">
        <div class="home-image">
            <div class="row">
                <div class="col-4 offset-2 landing-text">
                    <h3 class="col-12">Indulge in a little self-care with our luxurious bath bombs and wax melts</h3>
                    <a href="#" class="btn btn-dark btn-lg col-4 offset-1 home-button">Shop Now!</a>
                </div>
            </div>
        </div>
    </div>
    <section>
        <div class="row bg-white w-100 m-0 border-top-and-bottom our-products">
            <div class="col-12 text-center">
                <h2 class="mt-3">Our Products</h2>
                <hr class="mx-auto mt-0">
            </div>
        </div>
    </section>
    <div class="row w-100 m-0">
        <div class="home-image">
            <div class="row">

            </div>
        </div>
    </div>
{% endblock %}