{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block title %}
    Customer Orders
{% endblock %}

{% block content %}
    <div class="row checkout-container mx-0">
        <div class="col-12">
            <h2 class="text-center my-2 fw-bold">Customer Orders</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            {% if orders %}
            <div class="order-history-all table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Customer Details</th>
                            <th>Items</th>
                            <th>Item Total</th>
                            <th>Total Weight</th>
                            <th>Delivery Cost</th>
                            <th>Grand Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td>
                                    <a href="{% url 'order_history' order.order_number %}" 
                                    title="{{ order.order_number}}">
                                        {{ order.order_number|truncatechars:8 }}
                                    </a>
                                </td>
                                <td>{{ order.date }}</td>
                                <td>{{ order.full_name }}</td>
                                <td class="fw-bold">
                                    {{ order.street_address1 }}<br>
                                    {{ order.street_address2 }}<br>
                                    {{ order.town_or_city }}<br>
                                    {{ order.county }}<br>
                                    {{ order.postcode }}<br>
                                    {{ order.country }}<br>
                                    {{ order.email }}<br>
                                    {{ order.phone_number }}<br>
                                </td>
                                <td class="fw-bold">
                                    <ul class="list-unstyled">
                                        {% for item in order.lineitems.all %}
                                            <li class="small">
                                                {{ item.product.name }} x {{ item.quantity }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>£{{ order.order_total }}</td>
                                <td>{{ order.total_weight }}g</td>
                                <td>£{{ order.delivery_cost }}</td>
                                <td class="fw-bold">£{{ order.grand_total }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <h3 class="mb-3 text-center">You currently have no order history.</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block postloadjs %}
    <script src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}