html {
    height: 100%
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}


/* 
    base.html 
*/

.main-container {
    min-height: calc(100vh - 280px);
    max-height: max-content;
}

.logo-font {
    font-size: 3.5rem;
    font-weight: 900;
    text-align: center;
}

.search-button:hover {
    background-color: #ffb7ce;
}


.home-products-container {
    overflow-x: auto;
    white-space: nowrap;
}

.featured-products-container,
.latest-products-container {
    display: inline-block;
    width: fit-content;
    margin: 10px;
    vertical-align: top;
    /* overflow-x: scroll; */
}

.message-container {
    position: fixed;
    top: 150px;
    right: 5px;
    z-index: 99999;
}

/* Toasts */

.toast-capper {
    height: 3px
}

.toast-product-name {
    text-decoration: none;
}

.toast-product-name:hover {
    color: black;
    text-decoration: underline;
}

.toast-wrapper {
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Adjust the width and height of the images */
.featured-image,
.latest-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}


/* Navigation Menu */
.navbar {
    background-color: #ffb7ce !important;
    margin-top: 15px;
}

.navbar-nav {
    width: 100%;
}

.nav-item {
    font-size: 1.25rem;
    color: black;
    padding-bottom: 2px;
    list-style: none;
}

.nav-item:hover {
    border-bottom: 2px solid black;
    padding-bottom: 0px;
}

.dropdown-menu {
    background-color: #ffffff;
    margin-top: 5px;
}

.dropdown-item:hover {
    background-color: #ffb7ce;
}

/* Footer */
footer {
    height: 100px;
}

footer>div {
    border-top: 2px solid black;
}

footer ul {
    margin-top: 25px;
}

a.icon {
    color: black;
    font-size: 2.5em;
    padding: 10px;
}


/* 
    index.html 
*/

/* Home page image and call to action */
.home-image {
    background: url('/media/bath-bomb-home.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 70vh;
    width: 100vw;
}

.home-products-image {
    background: url('/media/bath-bomb-home.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 92vh;
    width: 100vw;
}

.featured-products-image {
    background: url('/media/bath-bomb-home.jpeg') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
}

.home-button {
    width: fit-content;
    height: fit-content;
    font-size: 2em;
}

.landing-text {
    /* margin-top: 15vh; */
    color: white;
    max-width: 75%;
}

.landing-text p {
    font-size: 2.7em;
    font-weight: 300;
    padding: 15px;
    background-color: rgba(75, 29, 87, 0.45);
    border-radius: 30px;
}

/* Our Products section */

.our-products {
    height: 80vh;
}

.our-products h2 {
    font-size: 2.7em;
}

.our-products p {
    font-size: 1.3em;
}

.our-products hr {
    width: 50px;
    color: black;
    border-top: 3px solid black;
}


/* Home page products section */

/* .home-products-container {
    /* height: 88vh;
    min-height: fit-content;
} */


/* Our values section */

.our-values {
    height: fit-content;
}

.our-values hr {
    width: 50px;
    color: black;
    border-top: 3px solid black;
}


/* Testimonials */

.testimonials-container {
    height: 58vh;
}

.testimonials-container hr {
    width: 50px;
    color: black;
    border-top: 3px solid black;
}

/* Location Section */

.location-container {
    height: 70vh;
    border: 2px solid black;
}

.location-container hr {
    width: 50px;
    color: black;
    border-top: 3px solid black;
}

.home-address {
    font-size: 1.2rem;
}

#map {
    height: 80%;
    width: 80%;
    margin: 0 auto;
}


/* 
All Products Page 
*/

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-shadow:hover {
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}

.card-body {
    flex-grow: 1;
}


.card-body a p:hover {
    color: black;
    text-decoration: underline;
}


.categories,
.card-body span {
    font-size: 0.7rem;
}

.old-price {
    font-size: 0.8em;
}



/* 
Product Details Page
*/

.product-detail-image {
    max-width: 80%;
    border-radius: 20px;
}

.product-detail-container span.icon {
    font-size: 0.7rem;
}

.image-container {
    max-width: 44vw;
    margin: 0 auto;
}

/* .image-container img {
    display: block;
} */

.image-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    max-width: 80%;
    margin-top: 1rem;
    margin: 0 auto;
    padding: 0;
}

.image-list li {
    width: 22%;
    overflow: hidden;
    cursor: pointer;
}

.image-list li img {
    width: 100%;
    border-radius: 5px;
}

.image-list li.active {
    padding: .2rem;
    border-radius: 5px;
    border: 1px solid #ffb7ce;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}



/* Bag page */

.update-link,
.remove-item {
    cursor: pointer;
}




/* 
    Reusable classes
*/

.border-top-and-bottom {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.ml-10 {
    margin-left: 10%;
}

.product-name:hover {
    text-decoration: underline;
}

.bold-underline-hover:hover {
    font-weight: bold;
    text-decoration: underline;
}

.mw-100 {
    max-width: 100vw;
}


/* 
    Media Queries
*/

@media (min-width: 992px) {
    .logo-font {
        text-align: left;
    }

    .navbar-nav {
        text-align: center;
        padding: 0;
        width: 100%;
        justify-content: space-evenly;
    }

    .navbar-nav ul {
        display: inline-flex;
        /* justify-content: space-evenly; */
        padding: 0;
        margin-bottom: 0;
    }

    .description {
        min-height: 145px;
    }
}

@media (min-width: 1198px) {
    .description {
        min-height: unset;
    }
}

@media (max-width: 1198px) {
    .product-instructions {
        position: relative;
        right: 24vw;
        min-width: 80vw;
    }
}

@media (max-width: 992px) {
    .product-instructions {
        position: unset;
        right: unset;
        min-width: unset;
    }
}

@media (max-width: 600px) {
    .image-container {
        max-width: 100%;
    }
}

@media (max-width: 1140px) {
    .image-container {
        max-width: 60vw;
    }
}