{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row w-100 m-0">
        <div class="error-image">
            <div class="row">
                <div class="col-xl-4 col-md-5 col-sm-8 col-sm-10 col-11 offset-md-2 offset-sm-1 landing-text mt-5">
                    <p class="col-12 mt-5 fs-lg-1 fs-1 fw-bold text-center ">Oops! <br> Something went wrong...</p>
                    <a href="{% url 'home' %}" class="btn btn-dark btn-lg col-4 offset-1 mt-2 home-button">Return to home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}