{% if widget.is_initial %}
    <p class="fw-bold mb-1">{{ widget.initial_text }}:</p>
        {% if widget.name == 'label_image' %}
        <p class="text-muted small mb-1">(Ingredients Label)</p>
        {% endif %}
        {% if widget.name == 'image' %}
        <p class="text-muted small mb-1">(Product Image)</p>
        {% endif %}
    <a href="{{ widget.value.url }}">
        <img width="96" height="96" class="rounded shadow-sm" src="{{ widget.value.url }}">
    </a>
    {% if not widget.required %}
        <div class="custom-control custom-checkbox mt-2">
            <input class="custom-control-input" type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}">
            <label class="custom-control-label text-danger" for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
        </div>
    {% endif %}<br>
    {{ widget.input_text }}
{% endif %}
{% if widget.name == 'image' %}
<span class="btn btn-dark btn-file">
    Select Image <input id="new-image" type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
</span>
<strong><p class="text-danger" id="filename"></p></strong>
{% endif %}
{% if widget.name == 'label_image' %}
<span class="btn btn-dark btn-file">
    Select Label <input id="new-label-image" type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
</span>
<strong><p class="text-danger" id="filename-label"></p></strong>
{% endif %}
<!-- <span class="btn btn-dark btn-file">
    Select Image <input id="new-image" type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
</span> -->
<!-- <strong><p class="text-danger" id="filename-label"></p></strong> -->