<div class="navbar-nav" id="main-nav">
    <ul class=" w-auto">
        <li class="nav-item dropdown">
            <a href="#" class="nav-link" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">By Fragrance</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link" id="bath-bomb-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bath Bombs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bath-bomb-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">By Fragrance</a>
                <a href="" class="dropdown-item">All Bath Bombs</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link" id="wax-melt-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wax Melts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="wax-melt-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">By Fragrance</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link" id="home-essentials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home Essentials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="home-essentials-link">
                <a href="" class="dropdown-item">Candles</a>
                <a href="" class="dropdown-item">Wax Burners</a>
                <a href="" class="dropdown-item">Vacuum Disks</a>
                <a href="" class="dropdown-item">Soap Sponges</a>
                <a href="" class="dropdown-item">Carpet Freshners</a>
                <a href="" class="dropdown-item">Car Air Freshners</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link" id="offers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="offers-link">
                <a href="" class="dropdown-item text-danger text-uppercase">Sale</a>
                <a href="" class="dropdown-item">Clearance</a>
            </div>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" id="about-us-link">
                About Us
            </a>
        </li>
    </ul>
</div>