<div class="navbar-nav" id="main-nav">
    <ul class=" w-auto">
        <li class="nav-item dropdown">
            <a href="#" class="nav-link" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=product_categories&direction=asc" class="dropdown-item">By Product Category</a>
                <a href="{% url 'products' %}?sort=fragrance_categories&direction=asc" class="dropdown-item">By Fragrance Type</a>
                <a href="{% url 'products' %}?sort=uploaded_on&direction=desc" class="dropdown-item">By Latest Products</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link" id="bath-bomb-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bath Bombs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="bath-bomb-link">
                <a href="{% url 'products' %}?sort=price&direction=asc&product_categories=bath_bomb" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=uploaded_on&direction=asc&product_categories=bath_bomb" class="dropdown-item">By Latest Products</a>
                <a href="{% url 'products' %}?sort=fragrance_category&direction=asc&product_categories=bath_bomb" class="dropdown-item">By Fragrance Type</a>
                <a href="{% url 'products' %}?sort=name&direction=asc&product_categories=bath_bomb" class="dropdown-item">All Bath Bombs</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link" id="wax-melt-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wax Melts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="wax-melt-link">
                <a href="{% url 'products' %}?sort=price&direction=asc&product_categories=wax_melt" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=uploaded_on&direction=asc&product_categories=wax_melt" class="dropdown-item">By Latest Products</a>
                <a href="{% url 'products' %}?sort=fragrance_category&direction=asc&product_categories=wax_melt" class="dropdown-item">By Fragrance Type</a>
                <a href="{% url 'products' %}?sort=name&direction=asc&product_categories=wax_melt" class="dropdown-item">All Wax Melts</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link" id="home-essentials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Home Essentials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="home-essentials-link">
                <a href="{% url 'products' %}?product_categories=candle" class="dropdown-item">Candles</a>
                <a href="{% url 'products' %}?product_categories=wax_burner" class="dropdown-item">Wax Burners</a>
                <a href="{% url 'products' %}?product_categories=vacuum_disc" class="dropdown-item">Vacuum Disks</a>
                <a href="{% url 'products' %}?product_categories=soap_sponge" class="dropdown-item">Soap Sponges</a>
                <a href="{% url 'products' %}?product_categories=carpet_freshner" class="dropdown-item">Carpet Freshners</a>
                <a href="{% url 'products' %}?product_categories=car_freshner" class="dropdown-item">Car Air Freshners</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link" id="offers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="offers-link">
                <a href="#" class="dropdown-item text-danger text-uppercase">Sale</a>
                <a href="#" class="dropdown-item">Clearance</a>
            </div>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link" id="about-us-link">
                About Us
            </a>
        </li>
    </ul>
</div>