{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Indulge in relaxation with our range of scented bath bombs and natural bath soaks.
                 Discover handmade and cruelty-free options, perfect for adults, kids, and men.
                 Explore our bath bomb gift sets and enjoy a spa-like experience at home. Elevate 
                 your space with our scented wax melts, offering a variety of fragrances and soy 
                 wax options. We cater to women seeking eco-friendly and vegan bath products, 
                 including handmade bath bombs and wax melts.">
    <meta name="keywords"
        content="best scented wax melts, high scented wax melts, homemade muscle soak bath bomb, scented wac melts,
         homemade bath bombs, homemade bath bombs uk, bath bomb set, Homemade toilet bombs, Toilet bombs uk, Cruelty
         free mens fragrance uk, best selling bath products, Coconut bath products, Eco-friendly bath products,
         bath bombs, wax melts, highly scented, bath products, Hand-painted bath bombs, bath bombs for men, bath bombs for women, 
         bath bombs for kids, unique hand-painted bath bombs for a vibrant bath experience, vegan bath bombs, cruelty-free bath bombs crafted with care,
         small business, independent business uk, independent business bristol uk, scented vacuum discs,
         wax burner, wax melts for adults, wax melts for men, wax melts for women, mop bucket bombs for freshness,
         scented vacuum discs for freshness, fast-shipping, environmentally friendly, eco-friendly bath products,
         air freshner, car air freshner, toilet bombs, hand-painted, handmade, wax melt accessories, natural wax melts">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    <!-- Favicon -->
    <link rel=" shortcut icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">


    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>FizzyBeese | {% block title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed top">
        <div id="topnav" class="row bg-white">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font my-0">FizzyBeese</h2>
                </a>
            </div>

            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 d-none d-lg-inline">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input type="text" class="form-control border border-black rounded-0" name="q"
                            placeholder="Search our products" aria-label="Search bar">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0 search-button"
                                type="submit" aria-label="Search button">
                                <span class="icon">
                                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 d-none d-lg-inline">
                <ul class="list-inline list-unstyled text-center text-lg-end my-0 me-3">
                    <li class="list-inline-item dropdown">
                        <a class="nav-link d-none d-lg-block" href="#" id="user-options-desktop" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fa-solid fa-user fa-xl"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0 me-3" aria-labelledby="user-options-desktop">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item">Add Product</a>
                            <a href="{% url 'hidden_products' %}" class="dropdown-item">Hidden Products</a>
                            <a href="{% url 'products' %}?stock_remaining" class="dropdown-item">Products (by stock)</a>
                            <a href="{% url 'all_orders' %}" class="dropdown-item">Customer Orders</a>
                            <a href="{% url 'create_event' %}" class="dropdown-item">Add Event</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-dark{% endif %} nav-link"
                            href="{% url 'bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-xl"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg bg-body-tertiary border-top-and-bottom">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% include 'includes/mobile-top-header.html' %}
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        {% include 'includes/main-nav.html' %}
                    </div>
                </div>
            </nav>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    <div class="container-fluid main-container p-0">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <div class="row w-100 bg-white m-0">
            <div class="col-1 col-sm-3">
            </div>
            <div class="col-7 col-sm-6">
                <ul class="list-inline list-unstyled text-center align-middle">
                    <li class="list-inline-item">
                        <a href="https://github.com/stephenbeese/FizzyBeese/blob/main/readme/fizzy-beese-facebook.png"
                            class="icon" target="_blank" rel="noopener" aria-label="Facebook page">
                            <i class="fa-brands fa-square-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/fizzybeese/?hl=en-gb" class="icon" target="_blank"
                            rel="noopener" aria-label="Instagram page">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.tiktok.com/@fizzybeese?lang=en" class="icon" target="_blank" rel="noopener"
                            aria-label="TikTok page">
                            <i class="fa-brands fa-tiktok"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-4 col-sm-3">
                <ul class="list-unstyled ms-3 float-end text-end">
                    <li>
                        <a href="{% url 'contact' %}" class="text-dark bold-underline-hover">Contact Us</a>
                    </li>
                    <li>
                        <a href="https://www.privacypolicygenerator.info/live.php?token=nLoC05ewR9sJgLUQXLNBnvLkLCunpY0v"
                            target="_blank" rel="noopener" class="text-dark bold-underline-hover">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="https://www.lovebeautyandplanet.com/us/en/the-love-beauty-planet-movement/our-purpose/our-blog/how-to-use-bath-bombs.html"
                            target="_blank" rel="noopener noreferrer help" class="text-dark bold-underline-hover">How to
                            use Bath Bombs</a>
                    </li>
                    <li>
                        <a href="https://www.purcellandwoodcock.com/blog/how-to-use-wax-melts.html#:~:text=You%20basically%20break%20off%20one,slowly%20and%20release%20the%20fragrance."
                            target="_blank" rel="noopener noreferrer help" class="text-dark bold-underline-hover">How to
                            use Wax Melts</a>
                    </li>
                </ul>
            </div>
            <div class="col-12">
                <div id="mc_embed_shell">
                    <div id="mc_embed_signup" style="max-width: 95vw !important;">
                        <form
                            action="https://herokuapp.us21.list-manage.com/subscribe/post?u=72032d29e54dcd1838f1c495c&amp;id=0211e301a1&amp;f_id=00d9dfe6f0"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="validate" target="_blank">
                            <div id="mc_embed_signup_scroll">
                                <h2>Subscribe to our Mailing List</h2>
                                <p>For all the latest offers!</p>
                                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                                            class="asterisk">*</span></label><input type="email" name="EMAIL"
                                        class="required email" id="mce-EMAIL" required="" value=""><span
                                        id="mce-EMAIL-HELPERTEXT" class="helper_text"></span></div>
                                <div id="mce-responses" class="clear foot">
                                    <div class="response" id="mce-error-response" style="display: none;"></div>
                                    <div class="response" id="mce-success-response" style="display: none;"></div>
                                </div>
                                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                    /* real people should not fill this in and expect good things - do not remove this
                                    or risk form bot signups */
                                    <input type="text" name="b_72032d29e54dcd1838f1c495c_0211e301a1" tabindex="-1"
                                        value="">
                                </div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button"
                                            value="Subscribe">
                                        <p style="margin: 0px auto;"><a href="http://eepurl.com/iyBTtk"
                                                title="Mailchimp - email marketing made easy and fun"><span
                                                    style="display: inline-block; background-color: transparent; border-radius: 4px;"><img
                                                        class="refferal_badge"
                                                        src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg"
                                                        alt="Intuit Mailchimp"
                                                        style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% block postloadjs %}
    {% endblock %}
    <script>
        $('.toast').toast('show');
    </script>
    <script src="https://kit.fontawesome.com/d29701d5af.js" crossorigin="anonymous"></script>

    <!-- Mail Chimp Scripts -->
    <script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js">
    </script>
    <script>
        (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>
</body>

</html>