{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>FizzyBeese | {% block title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed top">
        <div id="topnav" class="row bg-white">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font my-0">FizzyBeese</h2>
                </a>
            </div>

            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 d-none d-lg-inline">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input type="text" class="form-control border border-black rounded-0" name="q"
                            placeholder="Search our products">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0 search-button"
                                type="submit">
                                <span class="icon">
                                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 d-none d-lg-inline">
                <ul class="list-inline list-unstyled text-center text-lg-end my-0 me-3">
                    <li class="list-inline-item dropdown">
                        <a class="nav-link d-none d-lg-block" href="#" id="user-options-desktop" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fa-solid fa-user fa-xl"></i></div>
                                <p class="my-0">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0 me-3" aria-labelledby="user-options-desktop">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item">Add Product</a>
                            <a href="{% url 'hidden_products' %}" class="dropdown-item">Hidden Products</a>
                            <a href="{% url 'products' %}?stock_remaining" class="dropdown-item">Products (by stock)</a>
                            <a href="{% url 'all_orders' %}" class="dropdown-item">Customer Orders</a>
                            <a href="{% url 'create_event' %}" class="dropdown-item">Add Event</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-dark{% endif %} nav-link"
                            href="{% url 'bag' %}">
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-xl"></i></div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg bg-body-tertiary border-top-and-bottom">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% include 'includes/mobile-top-header.html' %}
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        {% include 'includes/main-nav.html' %}
                    </div>
                </div>
            </nav>
        </div>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    <div class="container-fluid main-container p-0">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <div class="row w-100 bg-white m-0">
            <div class="col-3">
                <ul class="list-unstyled ms-3">
                    <li>
                        <a href="{% url 'contact' %}">Contact Us</a>
                    </li>
                    <li>
                        <a href="">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-6">
                <ul class="list-inline list-unstyled text-center align-middle">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/fizzybeese/" class="icon" target="_blank" rel="noopener">
                            <i class="fa-brands fa-square-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/fizzybeese/?hl=en-gb" class="icon" target="_blank" rel="noopener">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.tiktok.com/@fizzybeese?lang=en" class="icon" target="_blank" rel="noopener">
                            <i class="fa-brands fa-tiktok"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-3">
                <!-- placeholder for mailing list -->
            </div>
        </div>
    </footer>
    {% block postloadjs %}
    {% endblock %}
    <script>
        $('.toast').toast('show');
    </script>
    <script src="https://kit.fontawesome.com/d29701d5af.js" crossorigin="anonymous"></script>
</body>

</html>