{% extends "base.html" %}
{% load static %}


{% block title %}
Our Story
{% endblock %}

{% block content %}
<div class="row mx-0 mw-100">
    <div class="col-12">
        <h2 class="text-center my-2 fw-bold fs-1">Our Story</h2>
        <hr class="mx-auto mb-3 w-25">
    </div>
</div>
<div class="row justify-content-center mb-3 mw-100">
    <div class="col-12 col-sm-11 col-md-8 my-3 order-sm-1">
        <div class="ms-5 about-text d-flex align-content-center flex-wrap">
            <p>Founded in February 2019, FizzyBeese is a locally-owned business located in Bristol. We specialize in
                providing a diverse selection of handmade bath products and fragrances, designed to offer moments of
                relaxation and sensory delight.</p>
            <p>Originating against the backdrop of Bristol, FizzyBeese started by offering a modest range of handmade
                bath
                bombs. Our offerings have since expanded to encompass a wide variety of highly fragranced wax melts,
                available in an array of colors, shapes, and scents. Additionally, our product line now extends to
                include
                essentials like Soap, Soap Sponges, Body Soufflé, Car Perfumes, Scented Aroma Beads, and Wax Melt
                Burners,
                with more innovations on the horizon.</p>
        </div>
    </div>
    <div class="col-12 col-sm-5 col-md-4 text-center order-sm-2">
        <img class="about-image rounded" src="{{ MEDIA_URL }}workshop.jpeg" alt="FizzyBeese Workshop">
    </div>
    <div class="col-12 col-sm-7 col-md-5 text-center order-last order-sm-3">
        <img class="about-image mt-3 rounded" src="{{ MEDIA_URL }}stall.jpeg" alt="FizzyBeese Stall">
    </div>
    <div class="col-12 col-sm-11 col-md-7 my-3 order-sm-4">
        <div class="mx-5 about-text  d-flex align-content-center flex-wrap">
            <p class="w-100">Beyond our products, FizzyBeese plays an active role in local fairs and charity events, where we set up
                stalls to
                showcase our offerings. These occasions provide an opportunity to connect with the community and share
                our
                products in person. We believe that these face-to-face interactions are essential in creating lasting
                connections with our customers and understanding their preferences.</p>
            <p class="w-100">Discover the thoughtfully curated selection from FizzyBeese and join us in embracing moments of
                tranquility,
                all while supporting sustainable choices. Our journey is characterized by a fusion of functionality,
                nature,
                and community, inviting you to experience a glimpse into the world of FizzyBeese.</p>
        </div>
    </div>
</div>
{% endblock %}