{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<!-- <link rel="stylesheet" href="{% static 'testimonials/css/testimonials.css' %}"> -->
{% endblock %}

{% block title %}
Contact Form
{% endblock %}

{% block content %}
<div class="row justify-content-center mw-100">
    <div class="col-12">
        <h2 class="text-center mt-3">Contact Us!</h2>
        <p class="text-center">
            Get in touch to transform relaxation and elevate events.<br>
            Inquire about products or event bookings below.
        </p>
    </div>
    <div class="col-10 col-md-8 col-lg-6">
        <form method="POST" action="{% url 'contact' %}" class="form mb-2">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-end">
                <a href="{% url 'home' %}" class="btn btn-outline-dark">Cancel</a>
                <button class="btn btn-dark" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}