{% extends 'base.html' %}
{% load static %}

{% load bag_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block title %}
Add Product
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-12">
            <h2 class="text-center mt-2">Product Management</h2>
            <h5 class="text-muted text-center">Add a Product</h5>
        </div>
        <div class="col-10 col-lg-6">
            <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-end">
                    <a href="{% url 'products' %}" class="btn btn-outline-dark">Cancel</a>
                    <button class="btn btn-dark" type="submit">Add Product</button>
                </div>
            </form>
        </div>

    </div>
{% endblock %}