{% extends "base.html" %}
{% load static %}

{% block title %}
{{ product.name }}
{% endblock %}

{% block content %}
<div class="row mw-100 mx-auto justify-content-center">
    <div class="product-detail-container col-12 col-lg-10">
        <div class="row justify-content-center">

            <div class="col-11 col-lg-7 text-center">
                <div class="image-container">
                        {% if product.image %}
                        <img src="{{ product.image.url }}" class="product-detail-image mt-5 mb-2 img-fluid border-dark" alt="{{ product.image }}">
                        {% else %}
                        <img src="/media/no-image.png" class="product-detail-image mt-5 mb-2 img-fluid border-dark" alt="">
                        {% endif %}
                    <ul class="image-list mb-2">
                        <li class="active">
                            {% if product.image %}
                                <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.image }}">
                            {% else %}
                                <img src="/media/no-image.png" class="img-fluid" alt="">
                            {% endif %}
                        </li>
                        {% for image in additional_images %}
                        <li>
                            <img class="img-fluid" src="{{ image.image.url }}" alt="{{ product.name }}{% for product_category in product.product_categories.all %} {{ product_category.friendly_name }}{% endfor %}">
                        </li>
                        {% endfor %}
                        {% if product.label_image %}
                        <li>
                            <img class="img-fluid" src="{{ product.label_image.url }}" alt="{{ product.name }} ingredients label">
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>


            <div class="col-lg-5 mt-lg-5 mt-3">
                <div class="row justify-content-evenly">
                    <div class="col-11 col-md-5 col-lg-12">
                        <p class="fw-bold mt-3 mb-0 fs-2">{{ product.name }}</p>
                        <span class="icon text-muted"><i class="fa-solid fa-tags"></i></span>
                        {% for product_category in product.product_categories.all %}
                        <a class="text-decoration-none"
                            href="{% url 'products' %}?product_categories={{ product_category.name }}">
                            <p class="d-inline text-muted text-uppercase categories">
                                {{ product_category.friendly_name }},
                            </p>
                        </a>
                        {% endfor %}
                        {% for fragrance_category in product.fragrance_categories.all %}
                        <a class="text-decoration-none"
                            href="{% url 'products' %}?fragrance_categories={{ fragrance_category.name }}">
                            <p class="d-inline text-muted text-uppercase categories">
                                {{ fragrance_category.friendly_name }}
                                {% if not forloop.last %}, {% endif %}
                            </p>
                        </a>
                        {% endfor %}
                        <p class="mt-3 description">{{ product.description }}</p>
                    </div>

                    <div class=" col-11 col-md-10 col-lg-12 order-last product-instructions">
                        {% for product_category in product.product_categories.all %}
                        {% if product_category.name == 'bath_bomb' %}
                        <div class="small text-muted">
                            <hr>
                            <p>Our bath bombs will leave your skin feeling soft.</p>

                            <p>
                                Just fill your bath with water that's comfortable to the touch. <br>(You should be able
                                to
                                dip
                                your hand into the water comfortably for 10 seconds!)
                            </p>
                            <p>
                                Place your handmade bath bomb into your bath water. Watch it fizz and foam away leaving
                                a
                                gorgeous fragrance and some amazing colourful bath art
                            </p>
                            <p>
                                Get into your bath relax and enjoy!
                            </p>
                            <p>
                                Remember to rinse and wipe away any remaining foam and colour, ready for next time!
                            </p>
                            <hr>
                        </div>
                        {% endif %}
                        {% if product_category.name == 'wax_melt' %}
                        <div class="small text-muted">
                            <hr>
                            <p class="fw-bold">Wax Melt Care Instructions</p>
                            <ol>
                                <li>Place your wax melts in a melt approved wax warmer.</li>
                                <li>Never leave burner/warmer unattended. Put it out/turn it off before leaving the
                                    room.
                                </li>
                                <li>Keep out of reach of children and pets.</li>
                                <li>You can reuse your wax melt until the scent has faded. Once faded, remove wax
                                    residue
                                    and
                                    add a new wax melt.</li>
                            </ol>
                            <hr>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <div class="col-11 col-md-5 col-lg-12 mt-3">
                        {% if product.sale_price %}
                        <p class="d-inline-block fs-2 mb-1 text-danger"><strong>£{{ product.sale_price }}</strong></p>
                        <p class="mb-0 text-muted text-decoration-line-through d-inline">£{{ product.price }}</p>
                        {% else %}
                        <p class="d-inline-block fs-2 mb-1"><strong>£{{ product.price }}</strong></p>
                        {% endif %}
                        <p class="d-inline-block small text-muted mb-1">({{ product.weight }}g)</p>

                        {% if product.stock_remaining == 0 %}
                        <p class="text-danger">This product is out of stock.</p>
                        {% elif product.stock_remaining <= 5 %}
                        <p class="text-danger">Only {{ product.stock_remaining }} left in stock!</p>
                        {% else %}
                        <p>In stock <small class="text-muted">({{ product.stock_remaining }} remaining)</small></p>
                        {% endif %}

                        <form action="{% url 'add_to_bag' product.id %}" method="POST" class="form">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-12 ms-2">
                                    <p class="mb-1">Quantity:</p>
                                    <div class="form-group w-50">
                                        <div class="input-group input-group-{{ product.id }}">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-black"
                                                    data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                    <span>
                                                        <i class="fa-solid fa-minus"></i>
                                                    </span>
                                                </button>
                                            </div>

                                            <input class="form-control qty-input" type="number" name="quantity"
                                                value="1" min="1" max="{{ product.stock_remaining }}"
                                                data-item_id="{{ product.id}}" id="id_qty_{{product.id }}">
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-black"
                                                    data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                    <span>
                                                        <i class="fa-solid fa-plus"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <a href="{% url 'products' %}" class="btn btn-outline-dark my-3 mx-2">
                                        <span class="icon me-2 fw-bold"><i
                                                class="fa-solid fa-chevron-left fa-xl"></i></span>
                                        <span>Keep Shopping</span>
                                    </a>
                                    {% if product.stock_remaining == 0 %}
                                    <input type="submit" class="btn btn-danger my-3 mx-2" value="Out of Stock" disabled>
                                    {% else %}
                                    <input type="submit" class="btn btn-dark my-3 mx-2" value="Add to Bag">
                                    {% endif %}
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </div>
                        </form>
                        {% if request.user.is_superuser %}
                        <div class="row justify-content-center">
                            <div class="col-12">
                                <a href="{% url 'edit_product' product.id %}" class="btn btn-outline-success">Edit Product Info</a>
                                <a href="{% url 'delete_product' product.id %}" class="btn btn-outline-danger">Delete Product</a>
                                <a href="{% url 'add_image' product.id %}" class="btn btn-outline-primary">Edit/Delete Images</a>

                            </div>
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>

        {% endblock %}

        {% block postloadjs %}
        <script type="text/javascript">
            const imageMain = document.querySelector(".image-container img")
            const imageList = document.querySelector(".image-list");

            Array.from(imageList.children).forEach((imageListElm, i, list) => {
                imageListElm.addEventListener('click', function () {
                    const newSrc = imageListElm.querySelector('img').src;
                    imageMain.src = newSrc;

                    list.forEach(image => image.classList.remove('active'));
                    imageListElm.classList.add('active');
                });
            });
        </script>
        {{ block.super }}
        {% include 'includes/quantity_input_script.html' %}
        {% endblock %}