{% extends "base.html" %}
{% load static %}

{% block title %}
All Products
{% endblock %}

{% block content %}
<h1 class="text-center my-4">All Products</h1>

<div class="row">
    <div class="product-container col-10 offset-1">
        <div class="row"></div>
        <div class="row">
            {% for product in products %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <a href="">
                        <img src="/media/{{ product.image }}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <a class="text-decoration-none" href="">
                            <p class="text-black mb-0">{{ product.name }}</p>
                        </a>
                        <p class="fw-bold mb-0">£{{ product.price }}</p>
                        <span class="icon text-muted"><i class="fa-solid fa-tags"></i></span>
                        <a class="text-decoration-none" href="">
                            <p class="d-inline text-muted text-uppercase categories">
                                {% for product_category in product.product_categories.all %}
                                {{ product_category.friendly_name }},
                                {% endfor %}
                            </p>
                        </a>
                        <a class="text-decoration-none" href="">
                            <p class="d-inline text-muted text-uppercase categories">
                                {% for fragrance_category in product.fragrance_categories.all %}
                                {{ fragrance_category.friendly_name }}
                                {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<!-- <div class="row">
    {% for product in products %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <a href="">
            <img class="product-image ml-10" src="/media/{{ product.image }}"
                alt="{{ product.name }} {{ product.image }}">
        </a>
        <div class="product-card ml-10">
            <a class="text-decoration-none" href="">
                <p class="text-black mb-0">{{ product.name }}</p>
            </a>
            <p class="fw-bold mb-0">£{{ product.price }}</p>
            <span class="icon text-muted"><i class="fa-solid fa-tags"></i></span>
            <a class="text-decoration-none" href="">
                <p class="d-inline text-muted text-uppercase categories">
                    {% for product_category in product.product_categories.all %}
                    {{ product_category.friendly_name }},
                    {% endfor %}
                </p>
            </a>
            <a class="text-decoration-none" href="">
                <p class="d-inline text-muted text-uppercase categories">
                    {% for fragrance_category in product.fragrance_categories.all %}
                    {{ fragrance_category.friendly_name }}
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </a>
        </div>
    </div>
    {% endfor %} -->

</div>
{% endblock %}