{% extends "base.html" %}
{% load static %}

{% block title %}
Products
{% endblock %}

{% block content %}
<div class="row mw-100">
    <div class="col text-center">
        <h1 class="text-center my-4">Products</h1>
    </div>
</div>

<div class="row justify-content-evenly mw-100 mx-auto">
    <div class="row d-flex justify-content-evenly">
        <div class="col-5">
            <p class="text-muted mt-3 text-center text-md-left">
                {% if search_term or current_product_categories or current_fragrance_categories or current_sorting != 'None_None' %}
                <span class="small"><a href="{% url 'products' %}" class="text-muted">Products
                        Home</a> | </span>
                {% endif %}
                {{ products|length }} Products {% if search_term %} found for
                <strong>"{{ search_term }}"</strong>{% endif %}
            </p>
        </div>
        <div class="col-5">
            <select id="sort-selector" class="form-select" aria-label="Product sorting">
                <option value="reset" {% if current_sorting == 'reset' %}selected{% endif %}>Sort by...</option>
                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)
                </option>
                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to
                    low)</option>
                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A to Z)
                </option>
                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z to A)
                </option>
                <option value="fragrance_categories_asc"
                    {% if current_sorting == 'fragrance_categories_asc' %}selected{% endif %}>Fragrance Type (A to Z)
                </option>
                <option value="fragrance_categories_desc"
                    {% if current_sorting == 'fragrance_categories_desc' %}selected{% endif %}>Fragrance Type (Z to A)
                </option>
                <option value="uploaded_on_desc" {% if current_sorting == 'uploaded_on_desc' %}selected{% endif %}>
                    Newest to Oldest</option>
                <option value="uploaded_on_asc" {% if current_sorting == 'uploaded_on_asc' %}selected{% endif %}>Oldest
                    to Newest</option>

                {% if current_product_categories is None %}
                <option value="product_categories_asc"
                    {% if current_sorting == 'product_categories_asc' %}selected{% endif %}>Product Category (A to Z)
                </option>
                <option value="product_categories_desc"
                    {% if current_sorting == 'product_categories_desc' %}selected{% endif %}>Product Category (Z to A)
                </option>
                {% endif %}
            </select>
        </div>
        <hr class="mx-auto w-75">
    </div>
    <div class="product-container col-10">
        <div class="row">
            {% if products|length == 0 %}
            <div class="row">
                <div class="col-6 offset-3 text-center">
                    <h3 class="my-3 fw-bold">Oops, we don't have what you're looking for!</h3>
                    <a href="{% url 'products' %}" class="btn btn-outline-dark">
                        <span class="icon me-2 fw-bold"><i class="fa-solid fa-chevron-left fa-xl"></i></span>
                        <span>Go Back</span>
                    </a>
                </div>
            </div>
            {% endif %}

            {% for product in products %}
            {% if product.is_hidden == False %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card card-shadow border-dark">
                    <a href="{% url 'product_detail' product.id %}">
                        {% if product.image %}
                        <img src="{{ product.image.url }}" class="card-img-top border-bottom border-dark"
                            alt="{{ product.image }}">
                        {% else %}
                        <img src="{{ MEDIA_URL }}no-image.png" class="card-img-top border-bottom border-dark" alt="">
                        {% endif %}
                    </a>
                    <div class="card-body pb-0">
                        <a class="text-decoration-none" href="{% url 'product_detail' product.id %}">
                            <p class="text-black mb-0 fs-5">{{ product.name }}</p>
                        </a>
                        <span class="icon text-muted"><i class="fa-solid fa-tags"></i></span>
                        {% for product_category in product.product_categories.all %}
                        <a class="text-decoration-none"
                            href="{% url 'products' %}?product_categories={{ product_category.name }}">
                            <p class="d-inline text-muted text-uppercase categories">
                                {{ product_category.friendly_name }} |</p>
                        </a>
                        {% endfor %}
                        {% for fragrance_category in product.fragrance_categories.all %}
                        <a class="text-decoration-none"
                            href="{% url 'products' %}?fragrance_categories={{ fragrance_category.name }}">
                            <p class="d-inline text-muted text-uppercase categories">
                                {{ fragrance_category.friendly_name }}
                                {% if not forloop.last %}| {% endif %}

                            </p>
                        </a>
                        {% endfor %}
                    </div>
                    <div class="card-footer bg-white border-top-0">
                        <div class="row">
                            <div class="col-lg-6 p-0 text-start">
                                {% if product.sale_price %}
                                <p class="fw-bold text-danger mb-0 fs-5 ms-2">
                                    £{{ product.sale_price }}
                                    <span class="mb-0 text-muted text-decoration-line-through d-inline old-price ms-1">
                                        £{{ product.price }}
                                    </span>
                                </p>
                                {% else %}
                                <p class="fw-bold mb-0 fs-5 ms-2">£{{ product.price }}</p>
                                {% endif %}
                            </div>
                            <div class="col-lg-6 p-0 text-end">
                                <form action="{% url 'add_to_bag' product.id %}" method="POST" class="form">
                                    {% csrf_token %}
                                    <input type="number" name="quantity" value="1" class="d-none">
                                    {% if product.stock_remaining <= 0 %}
                                    <input type="submit" class="btn btn-outline-danger me-2" value="Out of Stock"
                                        disabled>
                                    {% else %}
                                    <input type="submit" class="btn btn-outline-dark me-2" value="Add to Bag">
                                    {% endif %}
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </form>
                            </div>
                        </div>
                        {% if request.user.is_superuser %}
                        <div class="row p-0">
                            <div class="col-12 mt-2 p-0 fw-bold">
                                <a href="{% url 'edit_product' product.id %}" class="text-success mx-1">Edit Product</a>
                                <a href="{% url 'delete_product' product.id %}" class="text-danger mx-1">Delete</a>
                                <p class="small text-muted mx-1 mb-0">Stock Remaining ({{ product.stock_remaining }})
                                </p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split('_')[0];
            var direction = selectedVal.split('_')[1];

            if (sort == "uploaded") {
                sort = "uploaded_on"
                direction = selectedVal.split('_')[2];
            }

            if (sort == "fragrance") {
                sort = "fragrance_categories"
                direction = selectedVal.split('_')[2];
            }

            if (sort == "product") {
                sort = "product_categories"
                direction = selectedVal.split('_')[2];
            }

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort")
            currentUrl.searchParams.delete("direction")

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}