<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="99999999">
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header">
        <strong class="me-auto">Success!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body bg-white">
        <div class="row">
            <div class="col p-0">
                <p class="mt-1 mb-3 ps-2 fw-bold text-center fs-6">{{ message }}</p>
                <hr class="w-100 my-1">
            </div>
        </div>
        {% if grand_total and not on_profile_page %}
            <p><strong>Your Bag</strong> ({{ product_count }} Items)</p>
            <div class="toast-wrapper">
                {% for item in bag_items %}
                    <div class="row">
                        <div class="col-3 my-1">
                            <a href="{% url 'product_detail' item.product.id %}">
                                <img class="w-100 rounded" src="/media/{{ item.product.image }}" alt="">
                            </a>
                        </div>
                        <div class="col-9">
                            <a href="{% url 'product_detail' item.product.id %}" class="text-dark toast-product-name">
                                <p class="fw-bold mb-0">{{ item.product.name }}</p>
                            </a>
                            <p class="mb-0">Qty: <strong>{{ item.quantity }}</strong></p>
                            {% if item.product.sale_price %}
                                <p class="mb-0 d-inline">Price: <span class="text-danger fw-bold">£{{ item.product.sale_price }}</span></p>
                                <p class="mb-0 text-muted text-decoration-line-through d-inline"><small>£{{ item.product.price }}</small></p>
                            {% else %}
                                <p class="mb-0">Price: <strong>£{{ item.product.price }}</strong></p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col">
                    <p class="my-1 fw-bold">Total {% if free_delivery_delta > 0 %}(Exc. delivery){% endif %}:
                        <span class="fw-bold float-end">£{{ total|floatformat:2 }}</span>
                    </p>
                    {% if free_delivery_delta > 0 %}
                        <p class="mb-0 mt-1">You could get free delivery by spending <strong>£{{ free_delivery_delta }}</strong> more!</p>
                    {% endif %}
                    <a href="{% url 'bag' %}" class="btn btn-dark w-100 my-2">
                        <span>Go To Shopping Bag</span>
                        <span class="m-1"><i class="fas fa-shopping-bag"></i></span>
                    </a>
                </div>
            </div>
        {% endif %}

    </div>
</div>